<h2 style="text-align: center; padding: 3%;">Mantenimiento de Órdenes</h2>
<div style="padding: 5% 10% 5% 20%;">
    <button type="button" class="btn btn-danger" style="padding: 2% 5% 2% 5%;" data-bs-toggle="modal"
        data-bs-target="#cierraSesion"><span class="material-icons">logout</span></button>
</div>

<div style="padding: 1% 5% 1% 5%; font-size: small; ">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">status Orden</th>
                <th scope="col">Telefono</th>
                <th scope="col">ticketOrder</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Fecha confirmación</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col"> Total</th>
            </tr>
        </thead>
        <tbody style="text-align: left;">
            <tr class="table-light" *ngFor="let order of orders">
                <th scope="row">{{order.orderId}}</th>
                <td>{{order.statusOrderId}}</td>
                <td>{{order.phoneOrder}}</td>
                <td>{{order.ticketOrder}}</td>
                <td>{{order.nameOrder}}</td>
                <td>{{order.lastNameOrder}}</td>
                <td>{{order.adressDeliver}}</td>
                <td>{{order.dateCreated}}</td>
                <td>{{order.dateConfirmed}}</td>
                <td>{{order.dateDeliver}}</td>
                <td>Q. {{order.totalOrder}}</td>
                <td><button type="button" data-bs-toggle="modal" data-bs-target="#modalId" (click)="llenarOrden(order)"
                        class="btn btn-outline-secondary">Cambiar status</button></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Cambiar estado de orden</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Status</label>
                    <select class="form-select" id="exampleSelect1" [(ngModel)]="this.estado">
                        <option>Pago Enviado</option>
                        <option>Pago Confirmado</option>
                        <option>Pedido Enviado</option>
                        <option>Eliminado</option>

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="cambiarStatus()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
                    Sesion</button>
            </div>
        </div>
    </div>
</div>