<div style="float: right;">
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['/admin']);"><span
        class="material-icons">keyboard_backspace</span></button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#cierraSesion"><span class="material-icons">logout</span></button>
</div>

<h2 style="text-align: center; padding: 3%;">Mantenimiento de Órdenes</h2>

<div style="margin: 1% 5% 1% 5%; font-size: small; overflow: auto;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">status Orden</th>
                <th scope="col">Telefono</th>
                <th scope="col">ticketOrder</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Fecha creación</th>
                <th scope="col">Fecha confirmación</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col"> Total</th>
            </tr>
        </thead>
        <tbody style="text-align: left;">
            <tr class="table-light" *ngFor="let order of orders">
                <th scope="row">{{order.orderId}}</th>
                <td>{{order.statusOrderId}}</td>
                <td>{{order.phoneOrder}}</td>
                <td>{{order.ticketOrder}}</td>
                <td>{{order.nameOrder}}</td>
                <td>{{order.lastNameOrder}}</td>
                <td>{{order.adressDeliver}}</td>
                <td>{{order.dateCreated}}</td>
                <td>{{order.dateConfirmed}}</td>
                <td>{{order.dateDeliver}}</td>
                <td>Q. {{order.totalOrder}}</td>
                <td><button type="button" data-bs-toggle="modal" data-bs-target="#modalIddetalle" (click)="consultaDetalle(order.orderId)"
                    class="btn btn-outline-warning">Detalle</button></td>
                <td><button type="button" data-bs-toggle="modal" data-bs-target="#modalId" (click)="llenarOrden(order)"
                        class="btn btn-outline-secondary">Cambiar status</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- modal cambiar status -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Cambiar estado de orden {{this.currentOrder.orderId}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Status</label>
                    <select class="form-select" id="exampleSelect1" [(ngModel)]="this.estado">
                        <option>Pago Enviado</option>
                        <option>Pago Confirmado</option>
                        <option>Pedido Enviado</option>
                        <option>Eliminado</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="cambiarStatus()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Cerrar sesion -->
<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
                    Sesion</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal detalle de ordenes-->
<div class="modal fade" id="modalIddetalle" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="modalTitleId">Detalle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    
                    <div style="padding: 1% 5% 1% 5%; font-size: small; ">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID Orden</th>
                                    <th scope="col">ID Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: left;">
                                 <tr class="table-light" *ngFor="let detailorder of newDetail">
                                    <th scope="row">{{detailorder.orderId}}</th>
                                    <td>{{detailorder.productId}}</td>
                                    <td>{{detailorder.detailOrderQuantity}}</td>
                                    <td>Q.{{detailorder.orderDetailSubtotal}}</td> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


