<div style="float: right;">
  <button type="button" class="btn btn-secondary" (click)="router.navigate(['/admin']);"><span
      class="material-icons">keyboard_backspace</span></button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cierraSesion"><span
      class="material-icons">logout</span></button>
</div>

<h2 style="text-align: center; padding: 2%">Mantenimiento de productos</h2>


<!-- Boton crear pastel-->
<button type="button" style="margin: 20px;" class="btn btn-danger" data-bs-toggle="modal"
  data-bs-target="#modalIdCrear">
  Nuevo producto
</button>

<div class="row mt-4" style="padding: 1% 5% 2% 8%;">
  <div class="col-md-5 col-lg-4" *ngFor="let product of products">
    <div class="card sombra" style="width: 301px; height: 550px;">
      <img [src]="product.productImage" class="card-img-top" alt="" style="width: 300px; height: 300px;">
      <div class="card-body">
        <h5>Id: {{product.productId}} <BR> Nombre: {{product.productName}}</h5>
        <p>{{product.productDescription}}</p>
      </div>
      <div class="card-footer" style="width: 300px; height: 100px;">
        <div class="row justify-content-between">
          <div class="mt-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-warning ml-2" data-bs-toggle="modal" data-bs-target="#modalIdEdit"
              (click)="seteoProducto(product)"><span class="material-icons">edit</span></button>

            <button class="btn btn-danger ml-2" data-toggle="tooltip" data-placement="top" title="Borrar"
              data-bs-toggle="modal" data-bs-target="#modalId" (click)="darValor(product.productId)"><span
                class="material-icons">delete</span></button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
          Sesion</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Eliminar -->

<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Esta seguro de eliminar el producto? </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="EliminarProducto()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar -->

<div class="modal fade" id="modalIdEdit" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-product">
          <label class="form-label mt-4">Id Categoria</label>
          <input type="text" class="form-control" id="IdCategoria" [(ngModel)]="this.newProduct.categoryId">
        </div>
        <div class="form-product">
          <label class="form-label mt-4">Descripcion</label>
          <textarea class="form-control" id="Description" [(ngModel)]="this.newProduct.productDescription"
            rows="5"></textarea>
        </div>
        <div class="form-product">
          <label class="form-label mt-4">Nombre</label>
          <input type="text" class="form-control" id="Nombre" [(ngModel)]="this.newProduct.productName">
        </div>
        <div class="form-product">
          <label class="form-label mt-4">Precio</label>
          <input type="text" class="form-control" id="Precio" [(ngModel)]="this.newProduct.productPrice">
        </div>
        <div class="form-product">
          <label class="form-label mt-4">Id Temporada</label>
          <input type="text" class="form-control" id="IdTemporada" [(ngModel)]="this.newProduct.seasonId">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="UpdateProductById()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal crear nuevo pastel-->
<div class="modal fade" id="modalIdCrear" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Nuevo producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">


          <div class="form-orders">
            <label class="form-label mt-4">Categoria</label>
            <input type="tel" class="form-control" id="categoria" [(ngModel)]="this.newProduct.categoryId">
          </div>
          <div class="form-orders">
            <label class="form-label mt-4">Temporada</label>
            <input type="tel" class="form-control" id="temporada" [(ngModel)]="this.newProduct.seasonId">
          </div>
          <div class="form-orders">
            <label class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" id="Nombre" [(ngModel)]="this.newProduct.productName">
          </div>
          <div class="form-orders">
            <label class="form-label mt-4">Descripcion</label>
            <textarea class="form-control" id="descripcion" [(ngModel)]="this.newProduct.productDescription"
              rows="3"> </textarea>
          </div>
          <div class="form-orders">
            <label class="form-label mt-4">Precio</label>
            <input type="text" class="form-control" id="FechaDeEntrega" [(ngModel)]="this.newProduct.productPrice">
          </div>
          <!--<div class="form-group">
            <label for="formFile" class="form-label mt-4">Fotografía</label>
            <input class="form-control" type="file" id="formFile">
          </div>-->
          <div class="form-orders">
            <label class="form-label mt-4">Fotografía</label>
            <input type="text" class="form-control" id="foto" [(ngModel)]="this.newProduct.productImage">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="CrearProducto()">Save</button>
      </div>
    </div>
  </div>
</div>