<h2 style="text-align: center; padding: 2%;"> Mantenimiento Categorias</h2>

<div style="padding: 5% 10% 5% 20%;">
    <button type="button" class="btn btn-danger" style="padding: 2% 5% 2% 5%;" data-bs-toggle="modal"
        data-bs-target="#cierraSesion"><span class="material-icons">logout</span></button>
</div>

<div style="padding: 1% 25% 1% 25%;">
    <div style="width: 150; font-size: small;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody style="text-align: left;">
                <tr class="table-light" *ngFor="let category of category">
                    <th scope="row">{{category.categoryId}}</th>
                    <td>{{category.statusId}}</td>
                    <td>{{category.categoryName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
                    Sesion</button>
            </div>
        </div>
    </div>
</div>