<div style="float: right; ">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#cierraSesion"><span class="material-icons">logout</span></button>
</div>

<h2 style="text-align: center; padding: 2%; "> Mantenimiento Categorias</h2>

<div style="padding: 1% 5% 1% 15%; float: left;">
    <div style="width: 150; font-size: small; ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody style="text-align: left;">
                <tr class="table-light" *ngFor="let category of category">
                    <th scope="row">{{category.categoryId}}</th>
                    <td>{{category.statusId}}</td>
                    <td>{{category.categoryName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="float: left; padding: 2% 5% 1% 10%;">
<div class="input-group mb-3" style="padding: 3% 1% 2% 15%;">
    <input type="text" class="form-control" placeholder="Ingrese id de categoria" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
  </div>
  <fieldset style="padding: 2% 15% 2% 15%;">
    <div class="form-group">
      <fieldset disabled="">
        <label class="form-label">Id Categoria</label>
        <input class="form-control" id="disabledInput" type="text" placeholder="" disabled="">
      </fieldset>
    </div>
    <!--<div class="form-seasons">
      <label class="form-label mt-4">statusID</label>
      <input type="text" class="form-control" id="statusID" placeholder="" [(ngModel)]="this.newSeason.statusId">
    </div>
    <small id="telHelp" class="form-text text-muted">1 activo 2 desactivado</small>-->
    <div class="form-seasons">
      <label class="form-label mt-4">Nombre Categoria</label>
      <input type="text" class="form-control" id="Nombre" placeholder="" [(ngModel)]="this.newcategory.categoryName">
    </div>
    <br><br>
    <div style="padding: 1%">
    <button type="submit" (click)="CrearCategory()" class="btn btn-warning">Crear temporada</button>
    </div>
    <div style="padding: 1%">
    <button type="submit" class="btn btn-info">Editar temporada</button>
    </div>
    <div style="padding: 1%">
    <button type="submit" class="btn btn-danger">Eliminar temporada</button>
    </div>
    <br><br>
    <small id="telHelp" class="form-text text-muted"></small>







<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
                    Sesion</button>
            </div>
        </div>
    </div>
</div>
