<div class="relleno" style="padding: 5% 15% 10% 40%;">
  <div class="container">
    <div class="justify-content-center align-items-center">
      <div class="col-md-5 row">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding: 5% 1% 2% 1%;">
          <div class="card-header text-center">
            <h3>Iniciar Sesión</h3>
          </div>
          <div class="card-body">
            <fieldset>
              <div class="form-group">
                <label for="userEmail" class="form-label mt-4">Email address</label>
                <input [(ngModel)]="user.userName" type="email" class="form-control" id="userEmail"
                  aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="userPass" class="form-label mt-4">Password</label>
                <input [(ngModel)]="user.userCode" type="password" class="form-control" id="userPass"
                  placeholder="Enter Password">
              </div>
              <div class="mt-4 d-flex justify-content-center align-items-center">
                <button (click)="loginUsuario()" class="btn btn-primary">Iniciar Sesión</button>
              </div>
              <button *ngIf="this.modalError" class="btn btn-primary">contraseña Incorrecta</button>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
