<div style="float: right;">
  <button type="button" class="btn btn-secondary" (click)="router.navigate(['/admin']);"><span
      class="material-icons">keyboard_backspace</span></button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cierraSesion"><span
      class="material-icons">logout</span></button>
</div>

<h2 style="text-align: center; padding: 2%">Mantenimiento de temporadas</h2>

<div class="form-check form-switch" style="padding: 0.1% 3% 2% 5%; float: left;" *ngFor="let season of seasons">
  <ng-container *ngIf="season.statusId == 1; then activo; else inactivo">
  </ng-container>

  <ng-template #activo>
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked (change)="inactivarSeason(season.seasonId)">
    <label>{{season.seasonId}} - {{season.seasonName}}</label>
  </ng-template>
  <ng-template #inactivo>
    <div>
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" (change)="activarSeason(season.seasonId)">
      <label>{{season.seasonId}} - {{season.seasonName}}</label>
    </div>
  </ng-template>
</div>


<div class="input-group mb-3" style="padding: 2% 40% 2% 15%;">
  <input type="text" class="form-control" placeholder="Ingrese id de temporada" [(ngModel)]="this.searchSeason"
    aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button" id="button-addon2" (click)="ObtenerSeasonById()">Buscar</button>
</div>

<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
          Sesion</button>
      </div>
    </div>
  </div>
</div>

<fieldset style="padding: 2% 15% 2% 15%;">
  <div class="form-group">
    <fieldset disabled="">
      <label class="form-label">Id de temporada</label>
      <input class="form-control" id="disabledInput" type="text" placeholder="" [(ngModel)]="this.newSeason.seasonId"
        disabled="">
    </fieldset>
  </div>
  <!--<div class="form-seasons">
    <label class="form-label mt-4">statusID</label>
    <input type="text" class="form-control" id="statusID" placeholder="" [(ngModel)]="this.newSeason.statusId">
  </div>
  <small id="telHelp" class="form-text text-muted">1 activo 2 desactivado</small>-->
  <div class="form-seasons">
    <label class="form-label mt-4">Nombre temporada</label>
    <input type="text" class="form-control" id="Nombre" placeholder="" [(ngModel)]="this.newSeason.seasonName">
  </div>
  <div style="padding: 1%; float: left;">
    <button type="submit" (click)="CrearSeasons()" class="btn btn-warning">Crear temporada</button>
  </div>
  <div style="padding: 1%; float: left;">
    <button type="submit" (click)="UpdateSeasonById()" class="btn btn-info">Editar temporada</button>
  </div>
  <div style="padding: 1%; float: left;">
    <button type="submit" (click)="DeleteSeasonById()" class="btn btn-danger">Eliminar temporada</button>
  </div>
  <div style="padding: 1%; float: left;">
    <button type="submit" (click)="LimpiarBusqueda()" class="btn btn-light">Limpiar</button>
  </div>
  <small id="telHelp" class="form-text text-muted"></small>