
<div style="float: right;">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
        data-bs-target="#cierraSesion"><span class="material-icons">logout</span></button>
</div>

<h1 style="text-align: center; padding: 5%;">Mantenimiento de tablas</h1>


<div style="padding: 5% 10% 5% 20%;">
    <button type="button" class="btn btn-primary" style="padding: 2% 5% 2% 5%;"
        (click)="router.navigate(['/mtto-productos']);">Productos</button>
    <button type="button" class="btn btn-secondary" style="padding: 2% 5% 2% 5%;"
        (click)="router.navigate(['/mtto-categoria']);">Categorias</button>
    <button type="button" class="btn btn-warning" style="padding: 2% 5% 2% 5%;"
        (click)="router.navigate(['/mtto-temporadas']);">Temporadas</button>
    <button type="button" class="btn btn-info" style="padding: 2% 5% 2% 5%;"
        (click)="router.navigate(['/mtto-ordenes']);">Pedido</button>
    <button type="button" class="btn btn-danger" style="padding: 2% 5% 2% 5%;">Usuarios</button>
    <!--<button type="button" class="btn btn-dark" style="padding: 2% 5% 2% 5%;">Dashboard</button>-->
</div>

<div class="modal fade" id="cierraSesion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Esta seguro de cerrar sesion? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cierraSesion()">Cerrar
                    Sesion</button>
            </div>
        </div>
    </div>
</div>