<h1 style="text-align: center; padding: 5%;">Mantenimiento de tablas</h1>


    <div style="padding: 5% 10% 5% 20%;">
        <button type="button" class="btn btn-primary" style="padding: 2% 5% 2% 5%;" (click)="router.navigate(['/mtto-productos']);">Productos</button>
        <button type="button" class="btn btn-secondary" style="padding: 2% 5% 2% 5%;">Categorias</button>
        <button type="button" class="btn btn-warning" style="padding: 2% 5% 2% 5%;">Temporadas</button>
        <button type="button" class="btn btn-info" style="padding: 2% 5% 2% 5%;" (click)="router.navigate(['/mtto-ordenes']);">Pedido</button>
        <button type="button" class="btn btn-danger" style="padding: 2% 5% 2% 5%;">Usuarios</button>
        <!--<button type="button" class="btn btn-light" style="padding: 2% 5% 2% 5%;">Light</button>
        <button type="button" class="btn btn-dark" style="padding: 2% 5% 2% 5%;">Dark</button>-->
    </div>
