/* You can add global styles to this file, and also import other style files */
.hero {
    background-image: url('https://chabelitas.s3.amazonaws.com/logo.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-size: 43%;
}
